body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro", "Trebuchet MS", "Verdana", sans-serif;
}

#map {
  height: 100%;
  width: 100%;
}

#header {
  padding: 7px 0px 7px 0px;
  font-size: 20px;
  position: fixed;
  z-index: 1;
  background-color: white;
  opacity: 0.92;
  box-shadow: 0px 0px 15px #333;
  width: 100%;
}

#address {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 42px;
  margin: 0px 0px 0px 7px;
}

#ago {
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
  line-height: 42px;
  margin: 0px 7px 0px 0px;
}

#dist {
  margin-right: 7px;
  padding: 3px 5px 3px 5px;
  background-color: #EEE;
  border-radius: 3px;
  color: #444;
  display: inline;
}

@media all
and (max-width : 800px) {
  #ago {
    float: none;
    margin-right: 0px;
    margin-left: 7px;
    clear: left;
  }
}

@media only screen
and (max-width : 480px) {
/*and (min-device-width : 320px)
and (max-device-width : 480px) {*/
  #address {
    float: none;
    font-size: 18px;
    line-height: 25px;
    margin: 5px 0px 0px 5px;
  }
  #ago {
    float: none;
    margin: 0px 0px 3px 5px;
    font-size: 12px;
    line-height: 20px;
    clear: left;
  }
}